Phantom-API/.project
*.prefs
*.project
*.classpath
Phantom-Web/.settings/.jsdtscope
*.component
Phantom-Web/.settings/org.eclipse.wst.common.project.facet.core.xml
*.name
Phantom-Web/.settings/org.eclipse.wst.jsdt.ui.superType.container
Phantom-API/.settings/org.eclipse.wst.common.project.facet.core.xml
Phantom-API/.settings/org.eclipse.wst.common.project.facet.core.xml
Phantom-API/.settings/org.eclipse.wst.common.project.facet.core.xml
*.jar
Phantom-API/.settings/org.eclipse.wst.common.project.facet.core.xml