<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation=" 
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	  http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
	  http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd
	  ">

	<context:component-scan base-package="Phantom.ReverseGeocoding">

	</context:component-scan>

	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<bean id="GisDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="org.postgresql.Driver" />
		<!-- <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/PhantomGIS" /> -->
		<property name="jdbcUrl" value="jdbc:postgresql://59.172.105.85:5432/tiispgis" />
		<property name="user" value="postgres" />
		<property name="password" value="postgres" />
	</bean>
	<!-- JPA实体管理工厂的配置 -->
	<bean id="GisEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="GisDataSource" />
		<property name="jpaVendorAdapter" ref="GisHibernateJpaVendorAdapter" />
		<property name="packagesToScan" value="Phantom.ReverseGeocoding.Entity" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	<!--指定实现JPA的适配器 -->
	<bean id="GisHibernateJpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="databasePlatform"
			value="org.hibernate.spatial.dialect.postgis.PostgisDialect" />
	</bean>

	<bean id="GisTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="GisEntityManagerFactory" />
	</bean>

	<bean id="baseJpaSearch" class="Phantom.ReverseGeocoding.Service.BaseJpaSearch">
		<property name="factory" ref="GisEntityManagerFactory"></property>
		<property name="dataSource" ref="GisDataSource"></property> 
	</bean>
	
	
	<bean id="GeoService" class="Phantom.ReverseGeocoding.Service.GeoService">
		<property name="dataSourcePool" ref="GisDataSource"></property>  
	</bean>

	<tx:annotation-driven transaction-manager="GISTransactionManager" />
	<jpa:repositories base-package="Phantom.ReverseGeocoding.Dao"
		entity-manager-factory-ref="GisEntityManagerFactory"
		transaction-manager-ref="GisTransactionManager" />
		
	

</beans>