<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation=" 
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	  http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
	  http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">



	<bean id="ExampleJob" class="Phantom.Data.Initiation.Task.SimpleTask" />
	<bean id="ExampleJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="ExampleJob" />
		</property>
		<property name="targetMethod">  <!-- 要执行的方法名称 -->
			<value>runtest</value>
		</property>
	</bean>
	

	<!-- ======================== 调度触发器 ======================== -->
	<bean id="ExampleJobCronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="ExampleJobDetail"></property>
		<property name="cronExpression" value="0 0/1 * * * ?"></property>
	</bean>

	

	
	<bean id="GaodeMapTileTask" class="Phantom.Data.Initiation.Task.GaodeMapTileTask">
		<property name="config" value="this is a congif" />
	</bean>
	<bean id="GaodeMapTileTaskDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 指定任务类 -->
		<property name="targetObject" ref="GaodeMapTileTask" />
		<!-- 指定任务执行的方法 -->
		<property name="targetMethod" value="start" />
	</bean>
	<bean id="GaodeMapTileTaskTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="GaodeMapTileTaskDetail" />
		<!-- 每10秒运行一次 -->
		<property name="cronExpression" value="0/10 * * * * ?" />
	</bean>
	
	<!-- ======================== 调度工厂 ======================== -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="ExampleJobCronTriggerBean" />
				<ref bean="GaodeMapTileTaskTrigger" />
			</list>
		</property>
	</bean>

</beans>