<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	   					   http://www.springframework.org/schema/context
	   					   http://www.springframework.org/schema/context/spring-context-4.3.xsd
	   					   http://www.springframework.org/schema/mvc
	   					   http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
	   					   http://www.springframework.org/schema/websocket 
	   					   http://www.springframework.org/schema/websocket/spring-websocket.xsd">

	<!--指明 controller 所在包，并扫描其中的注解 -->
	<context:component-scan base-package="Phantom.Web.Controller" />

	<mvc:resources mapping="/jQuery/**" location="/Phantom/Resources/jQuery/" />
	<mvc:resources mapping="/OpenLayers/**" location="/Phantom/Resource/OpenLayers/" />
	<mvc:resources mapping="/BootStrap/**" location="/Phantom/Resource/BootStrap/" />
	<mvc:resources mapping="/Icons/**" location="/Phantom/Resource/Icons/" />
	<mvc:resources mapping="/AppJS/**" location="/Phantom/AppJS/" />
	<mvc:resources mapping="/AppCSS/**" location="/Phantom/AppCSS/" />
	<mvc:resources mapping="/Resources/**" location="/Phantom/Resource/" />

	<!-- 开启注解 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 定义视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/Phantom/JSP/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>


</beans>